<section
  class="page h-screen flex flex-col justify-center items-center text-p-beige"
>
  <p-toast position="bottom-center"></p-toast>

  <form (ngSubmit)="onSubmit()">
    <div
      class="flex flex-col justify-evenly items-center text-xl w-[22vw] h-[60vh] bg-p-sBlue p-10 rounded-lg font-oswald"
    >
      <h1 class="text-3xl uppercase">Login</h1>

      <input
        class="field"
        type="email"
        name="title"
        placeholder="Email"
        [(ngModel)]="userInfo.email"
      />

      <input
        class="field"
        type="password"
        name="author"
        placeholder="Password"
        [(ngModel)]="userInfo.password"
      />

      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</section>
