<section class="flex flex-col items-center justify-center">
  <div class="pb-4">
    <h2 class="text-p-beige text-4xl font-mooli font-bold">
      Most Popular Books
    </h2>
  </div>

  <carousel [interval]="7000" [showIndicators]="true" [isAnimated]="true">
    <slide *ngFor="let book of books">
      <div
        class="w-[80vw] h-[60vh] flex items-center justify-center bg-p-sBlue rounded-3xl"
      >
        <div 
        routerLink="/book-page"
        (click)="updateBookId(book.id)"
        class="w-[250px] h-[400px] object-cover cursor-pointer transition duration-300 ease-in-out hover:scale-105">
          <img [src]="book.imgURL" [alt]="book.title" class="w-60 shadow-2" />
        </div>
        <div class="ml-5 text-p-beige">
          <h3 class="text-4xl font-oswald mb-3">
            {{ book.title }}
          </h3>
          <p class="text-2xl font-mooli mb-3">By {{ book.author }}</p>
          <p
            class="text-lg font-mooli max-w-3xl max-h-64 overflow-y-scroll scrollbar-none mb-3"
          >
            {{ book.description }}
          </p>
          <p class="text-lg font-mooli max-w-md">Genres: {{ book.genres }}</p>
        </div>
      </div>
    </slide>
  </carousel>
</section>
