<section class="page h-screen flex justify-center items-center">
  <p-toast position="bottom-right"></p-toast>

  <div
    class="w-[95vw] h-[75vh] bg-p-sBlue p-4 rounded-lg overflow-y-scroll scrollbar-none"
  >
    <div
      *ngIf="noBooksYet"
      class="w-full h-full flex justify-center items-center"
    >
      <div class="text-3xl text-p-lBlue font-oswald">
        <p>Nothing To See Here Yet! ㄟ( ▔, ▔ )ㄏ</p>
      </div>
    </div>

    <table
      *ngIf="!noBooksYet"
      class="w-full text-p-beige text-2xl font-oswald text-center"
    >
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Borrow Date</th>
          <th>Due Date</th>
          <th>Renew Book</th>
          <th>Return Book</th>
        </tr>
      </thead>
      <tbody *ngFor="let boBook of borrowedBooks">
        <tr>
          <td>
            <img
              [src]="boBook.imgURL"
              alt="book cover"
              class="w-[200px] h-[250px] object-contain ml-auto mr-auto"
            />
          </td>
          <td>{{ boBook.title }}</td>
          <td>{{ boBook.borrowDate }}</td>
          <td>{{ boBook.dueDate }}</td>
          <td>
            <button (click)="renewDueDate(boBook.bbId, boBook.renewed)" class="renew-btn">
              Renew
            </button>
          </td>
          <td>
            <button (click)="returnBook(boBook.bbId)" class="return-btn">
              Return
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
