<section class="h-[88vh] flex justify-center items-center">
  <div
    class="w-[95vw] h-[80vh] bg-p-sBlue bg-opacity-95 rounded-lg overflow-y-scroll scrollbar-none"
  >
    <table class="text-p-beige text-2xl font-oswald text-center">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Author</th>
          <th>Description</th>
          <th>Genres</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img
              src="https://i.imgur.com/RDyW9C7.jpg"
              alt="book image"
              class="w-[200px] h-[250px] object-contain"
            />
          </td>
          <td>Attack on Titan, Vol. 1</td>
          <td>Hajime Isayama</td>
          <td>
            The Desperate Battle Begins! For the past century, what's left of
            mankind has hidden in a giant, three-walled city, trapped in fear of
            the bizarre, giant humanoids known as the Titans. Little is known
            about where they came from or why they are bent on consuming
            humankind, but the sudden appearance of an enormous Titan is about
            to change everything...
          </td>
          <td>Manga, Fantasy, Graphic Novels, Horror, Comics</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
