<nav
  *ngIf="!isUser && !isAdmin"
  class="fixed z-10 bg-p-sBlue w-screen flex justify-evenly items-center uppercase"
>
  >
  <div>
    <p class="text-5xl text-teal-300 font-mooli">Library | App</p>
  </div>
  <search-bar></search-bar>
  <div class="flex">
    <a routerLink="/" class="btn group">
      <p>
        Home
        <span class="go-span"> GO </span>
      </p>
    </a>
    <a routerLink="/login-page" class="btn group">
      <p>
        Login
        <span class="go-span"> GO </span>
      </p>
    </a>
    <a routerLink="/signup-page" class="btn group">
      <p>
        Signup
        <span class="go-span"> GO </span>
      </p>
    </a>
  </div>
</nav>

<nav
  *ngIf="isUser"
  class="fixed z-10 bg-p-sBlue w-screen flex justify-evenly items-center uppercase"
>
  <div>
    <p class="text-5xl text-teal-300 font-mooli">Library | App</p>
  </div>
  <search-bar></search-bar>
  <div class="flex">
    <a routerLink="/" class="btn group">
      <p>
        Home
        <span class="go-span"> GO </span>
      </p>
    </a>
    <a routerLink="/user-books" class="btn group">
      <p>
        My Books
        <span class="go-span"> GO </span>
      </p>
    </a>
    <a routerLink="/" (click)="logout()" class="btn group">
      <p>
        Logout
        <span class="go-span"> GO </span>
      </p>
    </a>
  </div>
</nav>

<nav
  *ngIf="isAdmin"
  class="fixed z-10 bg-p-sBlue w-screen flex justify-evenly items-center uppercase"
>
  <div>
    <p class="text-5xl text-teal-300 font-mooli">Library | App</p>
  </div>
  <search-bar></search-bar>
  <div class="flex">
    <a routerLink="/" class="btn group">
      <p>
        Home
        <span class="go-span"> GO </span>
      </p>
    </a>
    <a routerLink="/book-db" class="btn group">
      <p>
        Book DB
        <span class="go-span"> GO </span>
      </p>
    </a>
    <a routerLink="/add-book" class="btn group">
      <p>
        Add Book
        <span class="go-span"> GO </span>
      </p>
    </a>
    <a routerLink="/" (click)="logout()" class="btn group">
      <p>
        Logout
        <span class="go-span"> GO </span>
      </p>
    </a>
  </div>
</nav>
