<header>
  <div class="bg-p-sBlue w-screen fixed flex justify-around items-center">
    <div>
      <p class="text-5xl text-teal-300 font-mooli">Library | Name</p>
    </div>
    <search-bar></search-bar>
    <div class="flex text-teal-300 font-mooli">
      <a routerLink="/" class="btn group">
        <p>
          Home
          <span class="go-span"> GO </span>
        </p>
      </a>
      <a routerLink="/login" class="btn group">
        <p>
          Login
          <span class="go-span"> GO </span>
        </p>
      </a>
      <a routerLink="/signup" class="btn group">
        <p>
          Signup
          <span class="go-span"> GO </span>
        </p>
      </a>
    </div>
  </div>
</header>
