<section class="page h-screen flex items-center justify-center text-p-beige">
  <p-toast position="top-center"></p-toast>

  <div
    class="flex flex-col items-center justify-around mr-5 w-[25vw] bg-p-sBlue p-10 rounded-lg font-oswald"
  >
    <h1 class="text-3xl uppercase mb-4">Update book</h1>
    <form>
      <div
        class="flex flex-col justify-evenly items-center text-xl w-[20vw] h-[65vh]"
      >
        <input
          class="field"
          type="text"
          name="img"
          placeholder="Update Image URL"
          [(ngModel)]="book.imgURL"
        />

        <input
          class="field"
          type="text"
          name="title"
          placeholder="Update Book Title"
          [(ngModel)]="book.title"
        />

        <input
          class="field"
          type="text"
          name="author"
          placeholder="Update Author Name"
          [(ngModel)]="book.author"
        />

        <input
          class="field"
          type="text"
          name="genres"
          placeholder="Update Book Genres"
          [(ngModel)]="book.genres"
        />

        <input
          class="field"
          type="text"
          name="releaseDate"
          placeholder="Update Release Date"
          [(ngModel)]="book.releaseDate"
        />

        <textarea
          class="field"
          name="description"
          placeholder="Update Description"
          rows="5"
          cols="33"
          [(ngModel)]="book.description"
        ></textarea>

        <button (click)="submit()" type="submit" class="btn">
          Update Book
        </button>
      </div>
    </form>
  </div>
</section>
