<div *ngIf="book" class="h-[89vh] flex justify-center items-center">
  <div
    class="w-[80vw] h-[75vh] flex justify-evenly items-center bg-p-sBlue rounded-lg"
  >
    <img
      class="w-[400px] h-[600px] object-contain"
      [src]="book.imgURL"
      alt=""
    />

    <div
      class="h-[550px] flex flex-col justify-evenly text-p-beige font-oswald"
    >
      <h1 class="text-5xl max-w-2xl">{{ book.title }}</h1>
      <h3 class="text-2xl">{{ book.author }}</h3>
      <p
        class="text-xl max-w-3xl max-h-64 overflow-y-scroll overflow-x-hidden scrollbar-none"
      >
        {{ book.description }}
      </p>
      <p class="text-xl">Genres: {{ book.genres }}</p>
      <p class="text-lg">Release Date: {{ book.releaseDate }}</p>

      <button
        (click)="borrowBook()"
        class="p-2 text-xl rounded-lg bg-green-600 transition duration-300 hover:scale-105 hover:bg-green-500"
      >
        Borrow This Book
      </button>
    </div>
  </div>
</div>
