<section
  *ngIf="book"
  class="page h-screen flex flex-col justify-around items-center"
>
  <p-toast position="bottom-right"></p-toast>

  <div
    class="w-[80vw] h-[75vh] flex justify-evenly items-center bg-p-sBlue rounded-lg"
  >
    <img
      class="w-[400px] h-[600px] object-contain"
      [src]="book.imgURL"
      alt=""
    />

    <div
      class="h-[550px] flex flex-col justify-evenly text-p-beige font-oswald"
    >
      <h1 class="text-5xl max-w-2xl">{{ book.title }}</h1>
      <h3 class="text-2xl">{{ book.author }}</h3>
      <p
        class="text-xl max-w-3xl max-h-64 overflow-y-scroll overflow-x-hidden scrollbar-none"
      >
        {{ book.description }}
      </p>
      <p class="text-xl">Genres: {{ book.genres }}</p>
      <p class="text-lg">Release Date: {{ book.releaseDate }}</p>

      <button
        *ngIf="book.available"
        (click)="borrowBook()"
        class="p-2 text-xl font-oswald rounded-lg bg-green-600 transition duration-300 hover:scale-105 hover:bg-green-500"
      >
        Borrow This Book
      </button>
      <button
        *ngIf="!book.available"
        (click)="bookNotAvailable()"
        class="p-2 text-xl font-oswald rounded-lg bg-gray-600 text-zinc-400"
      >
        Book Not Available
      </button>
    </div>
  </div>
</section>
