<div class="w-screen flex flex-col items-center p-5">
  <div
    *ngFor="let book of books"
    routerLink="/book-page"
    (click)="updateBookId(book.id)"
    class="flex items-center justify-center mb-4 bg-p-sBlue p-4 rounded-xl cursor-pointer transition duration-300 ease-in-out hover:scale-105"
  >
    <div class="w-[250px] h-[400px] object-cover">
      <img [src]="book.imgURL" [alt]="book.title" />
    </div>
    <div class="ml-7 text-p-beige">
      <h1 class="text-4xl font-oswald max-w-xl mb-3">{{ book.title }}</h1>
      <h2 class="text-2xl font-mooli mb-3">By {{ book.author }}</h2>
      <p
        class="text-lg font-mooli max-w-xl max-h-52 overflow-y-scroll scrollbar-none mb-3"
      >
        {{ book.description }}
      </p>
      <p class="text-lg font-mooli max-w-md">
        <strong>Genres:</strong> {{ book.genres }}
      </p>
    </div>
  </div>
</div>
