<section class="page h-screen flex items-center justify-center text-p-beige">
  <div
    class="flex flex-col items-center justify-around mr-5 w-[25vw] bg-p-sBlue p-10 rounded-lg font-oswald"
  >
    <h1 class="text-3xl uppercase mb-4">Add a new book</h1>
    <form (ngSubmit)="onSubmit()">
      <div
        class="flex flex-col justify-evenly items-center text-xl w-[20vw] h-[65vh]"
      >
        <input
          class="field"
          type="text"
          name="img"
          placeholder="Enter Image URL"
          [(ngModel)]="book.imgURL"
        />

        <input
          class="field"
          type="text"
          name="title"
          placeholder="Enter Book Title"
          [(ngModel)]="book.title"
        />

        <input
          class="field"
          type="text"
          name="author"
          placeholder="Enter Author Name"
          [(ngModel)]="book.author"
        />

        <input
          class="field"
          type="text"
          name="genres"
          placeholder="Enter Book Genres"
          [(ngModel)]="book.genres"
        />

        <input
          class="field"
          type="text"
          name="releaseDate"
          placeholder="Enter Release Date"
          [(ngModel)]="book.releaseDate"
        />

        <textarea
          class="field"
          name="description"
          placeholder="Enter Description"
          rows="5"
          cols="33"
          [(ngModel)]="book.description"
        ></textarea>

        <button type="submit" class="btn">Add Book</button>
      </div>
    </form>
  </div>

  <div
    *ngIf="newBook"
    class="flex flex-col justify-evenly items-center text-xl w-[25vw] h-[80vh] bg-p-sBlue rounded-lg font-oswald"
  >
    <img
      [src]="newBook.imgURL"
      alt="book cover"
      class="w-[200px] h-[300px] object-contain"
    />

    <h1 class="text-3xl max-w-lg">{{ newBook.title }}</h1>
    <h3 class="text-xl">By {{ newBook.author }}</h3>

    <p
      class="text-center max-w-xs max-h-52 overflow-y-scroll overflow-x-hidden text-ellipsis scrollbar-none p-3 border-2 rounded-md"
    >
      {{ newBook.description }}
    </p>

    <p class="max-w-lg"><strong>Genres:</strong> {{ newBook.genres }}</p>

    <p><strong>Release Date:</strong> {{ newBook.releaseDate }}</p>

    <p class="text-3xl text-green-400">Book successfully added!</p>
  </div>
</section>
