<section class="page h-screen flex items-center justify-center gap-4 text-p-beige">
  <p-toast position="bottom-right"></p-toast>

  <div
    class="flex flex-col items-center w-[450px] h-[720px] bg-p-sBlue py-10 rounded-lg font-oswald"
  >
    <h1 class="text-3xl uppercase mb-4">Add a new book</h1>

    <form
      #bookForm="ngForm"
      (ngSubmit)="submit()"
      novalidate
      class="flex flex-col justify-evenly items-center text-xl w-4/5 h-full"
    >
      <div class="input-container">
        <input
          class="field"
          type="url"
          pattern="https://.*"
          pInputText
          name="img"
          placeholder="Enter Image URL"
          [(ngModel)]="book.imgURL"
          #img="ngModel"
          required
        />

        <div
          *ngIf="img.invalid && (img.dirty || img.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="img.errors?.['required']">
            <p-message severity="error" text="Image url required."></p-message>
          </div>
          <div *ngIf="img.errors?.['pattern']">
            <p-message
              severity="info"
              text="Required pattern: https://example.com"
            ></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <input
          class="field"
          type="text"
          pInputText
          name="title"
          placeholder="Enter Book Title"
          [(ngModel)]="book.title"
          #title="ngModel"
          required
          minlength="2"
        />

        <div
          *ngIf="title.invalid && (title.dirty || title.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="title.errors?.['required']">
            <p-message severity="error" text="Book title required."></p-message>
          </div>
          <div *ngIf="title.errors?.['minlength']">
            <p-message
              severity="info"
              text="Book title must be at least 2 characters long."
            ></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <input
          class="field"
          type="text"
          pInputText
          name="author"
          placeholder="Enter Author Name"
          [(ngModel)]="book.author"
          #author="ngModel"
          required
          minlength="2"
        />

        <div
          *ngIf="author.invalid && (author.dirty || author.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="author.errors?.['required']">
            <p-message
              severity="error"
              text="Author name required."
            ></p-message>
          </div>
          <div *ngIf="author.errors?.['minlength']">
            <p-message
              severity="info"
              text="Author name must be at least 2 characters long."
            ></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <input
          class="field"
          type="text"
          pInputText
          name="genres"
          placeholder="Enter Book Genres"
          [(ngModel)]="book.genres"
          #genres="ngModel"
          required
        />

        <div
          *ngIf="genres.invalid && (genres.dirty || genres.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="genres.errors?.['required']">
            <p-message severity="error" text="Genres required."></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <input
          class="field"
          type="date"
          pInputText
          name="releaseDate"
          placeholder="Enter Release Date"
          [(ngModel)]="book.releaseDate"
          #releaseDate="ngModel"
          required
        />

        <div
          *ngIf="
            releaseDate.invalid && (releaseDate.dirty || releaseDate.touched)
          "
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="releaseDate.errors?.['required']">
            <p-message
              severity="error"
              text="Release date required."
            ></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <textarea
          class="field resize-none"
          name="description"
          pInputText
          placeholder="Enter Book Description"
          rows="5"
          cols="33"
          [(ngModel)]="book.description"
          #description="ngModel"
          minlength="150"
          required
        ></textarea>

        <div
          *ngIf="
            description.invalid && (description.dirty || description.touched)
          "
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="description.errors?.['required']">
            <p-message
              severity="error"
              text="Description required."
            ></p-message>
          </div>
          <div *ngIf="description.errors?.['minlength']">
            <p-message
              severity="info"
              text="Description too short."
            ></p-message>
          </div>
        </div>
      </div>

      <button type="submit" class="btn" [disabled]="!bookForm.form.valid">
        Add Book
      </button>
    </form>
  </div>

  <div
    *ngIf="newBook"
    class="flex flex-col justify-evenly items-center text-xl w-[450px] h-[720px] bg-p-sBlue rounded-lg font-oswald"
  >
    <img
      [src]="newBook.imgURL"
      alt="book cover"
      class="w-[200px] h-[300px] object-contain"
    />

    <h1 class="text-3xl max-w-lg">{{ newBook.title }}</h1>
    <h3 class="text-xl">By {{ newBook.author }}</h3>

    <p
      class="text-center max-w-xs max-h-52 overflow-y-scroll overflow-x-hidden text-ellipsis scrollbar-none p-3 border-2 rounded-md"
    >
      {{ newBook.description }}
    </p>

    <p class="max-w-md"><strong>Genres:</strong> {{ newBook.genres }}</p>

    <p><strong>Release Date:</strong> {{ newBook.releaseDate }}</p>

    <p class="text-3xl text-green-400">Book successfully added!</p>
  </div>
</section>
