<section
  class="page h-screen flex flex-col items-center justify-center text-p-beige"
>
  <p-toast position="bottom-right"></p-toast>

  <div
    class="flex flex-col items-center w-[420px] h-[550px] bg-p-sBlue py-10 rounded-lg"
  >
    <h1 class="text-3xl uppercase font-oswald">signup</h1>

    <form
      #signupForm="ngForm"
      (ngSubmit)="submit()"
      novalidate
      class="flex flex-col justify-evenly items-center text-xl w-[84%] h-full"
    >
      <div class="input-container">
        <input
          class="field"
          type="text"
          pInputText
          name="firstName"
          placeholder="Enter your first name"
          [(ngModel)]="user.firstName"
          #firstName="ngModel"
          required
        />

        <div
          *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="firstName.errors?.['required']">
            <p-message severity="error" text="First name required."></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <input
          class="field"
          type="text"
          pInputText
          name="lastName"
          placeholder="Enter your last name"
          [(ngModel)]="user.lastName"
          #lastName="ngModel"
          required
        />

        <div
          *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="lastName.errors?.['required']">
            <p-message severity="error" text="Last name required."></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <input
          class="field"
          type="email"
          pInputText
          pattern=".+\@.+\..+"
          name="email"
          placeholder="Enter your email address"
          [(ngModel)]="user.email"
          #email="ngModel"
          required
        />

        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="email.errors?.['required']">
            <p-message severity="error" text="Email required."></p-message>
          </div>
          <div *ngIf="email.errors?.['pattern']">
            <p-message
              severity="error"
              text="Required pattern: example@email.com"
            ></p-message>
          </div>
        </div>
      </div>

      <div class="input-container">
        <p-password
          type="password"
          name="password"
          inputStyleClass="p-3 text-black text-center text-lg"
          placeholder="Enter your password"
          [toggleMask]="true"
          [(ngModel)]="user.password"
          minlength="8"
          #password="ngModel"
          required
        ></p-password>

        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="w-max absolute left-[95%]"
        >
          <div *ngIf="password.errors?.['required']">
            <p-message severity="error" text="Password required."></p-message>
          </div>
          <div *ngIf="password.errors?.['minlength']">
            <p-message
              severity="info"
              text="Password must be at least 8 characters long."
            ></p-message>
          </div>
        </div>
      </div>

      <button type="submit" class="btn" [disabled]="!signupForm.form.valid">
        signup
      </button>
    </form>
  </div>
</section>
